
@{
    ViewBag.Title = "Index";
}
<script src="~/Scripts/angular.min.js"></script>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/AngularCode.js"></script>
<style>
    .btn-space {
        margin-left: -5%;
        background-color: cornflowerblue;
        font-size: large;
    }
</style>
<div class="dropdown-divider"></div>
<a href="/Admin/Login" class="btn">Çıkış</a>
<h2>Index</h2>
<div ng-app="myApp">
    <div ng-controller="myCtrl" ng-init="GetAllData()" class="divList">
        <p class="divHead">List of Product</p>
        <table cellpadding="12" class="table table-bordered table-hover">
            <tr>
                <td>
                    <b>ID</b>
                </td>
                <td>
                    <b>Name</b>
                </td>
                <td>
                    <b>Model</b>
                </td>
                <td>
                    <b>Category</b>
                </td>
                <td>
                    <b>Price</b>
                </td>
                <td>
                    <b>Actions</b>
                </td>
            </tr>
            <tr ng-repeat="Pro in ProductTable | filter:Name">
                <td>
                    {{Pro.ID}}
                </td>
                <td>
                    {{Pro.Name}}
                </td>
                <td>
                    {{Pro.Model}}
                </td>
                <td>
                    {{Pro.Category}}
                </td>
                <td>
                    {{Pro.Price}}
                </td>
                <td>
                    <input type="button" class="btn btn-warning" value="Update" ng-click="UpdatePro(Pro)" />
                    <input type="button" class="btn btn-danger" value="Delete" ng-click="DeletePro(Pro)" />
                </td>
                
                    <b>Ara:</b><input type="text" data-ng-model="Name" id="txtSearch" />
                
                
            </tr>
        </table>
        <div class="form-horizontal" role="form">
            <div class="container">
                <div class="row">
                    <h2>
                        <span id="spn">Add New Product</span>
                    </h2>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-lg-3">
                        <div class="form-group">
                            <label class="col-md-4 control-label">Name:</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" id="inputEmail" placeholder="Name" ng-model="ProName">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3">
                        <div class="form-group">
                            <label class="col-md-4 control-label">Model:</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" id="inputPassword" placeholder="Model" ng-model="ProModel">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3">
                        <div class="form-group">
                            <label class="col-md-4 control-label">Category:</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" id="inputLabel3" placeholder="Category" ng-model="ProCategory">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3">
                        <div class="form-group">
                            <label class="col-md-4 control-label">Price:</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" id="inputLabel3" placeholder="Price" ng-model="ProPrice">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-lg-4">
                        <input type="button" id="btnSave" class="form-control btn-space" value="Submit" ng-click="InsertData()" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    @Html.Hidden("ID_")

</div>
